_SourceCode/CompilerNotes.pdf
_SourceCode/GCC 4.7 README.pdf
_SourceCode/GNU_makefile_template
_SourceCode/makefile
_SourceCode/noinput
_SourceCode/runpgms
_SourceCode/Version_test.h
_SourceCode/1/add_item.cc
_SourceCode/1/add_item2.cc
_SourceCode/1/add.cc
_SourceCode/1/avg_price.cc
_SourceCode/1/for_ex.cc
_SourceCode/1/forcount.cc
_SourceCode/1/item_io.cc
_SourceCode/1/main_only.cc
_SourceCode/1/makefile
_SourceCode/1/mysum.cc
_SourceCode/1/occurs.cc
_SourceCode/1/README
_SourceCode/1/runpgms
_SourceCode/1/Sales_item.h
_SourceCode/1/whilecount.cc
_SourceCode/1/data/add
_SourceCode/1/data/add_item
_SourceCode/1/data/book_sales
_SourceCode/1/data/mysum
_SourceCode/1/data/occurs
_SourceCode/10/absInt.cc
_SourceCode/10/accum.cc
_SourceCode/10/accum4.cc
_SourceCode/10/avg_price.cc
_SourceCode/10/bind2.cc
_SourceCode/10/elimDups.cc
_SourceCode/10/equal.cc
_SourceCode/10/equiv-istream-iter.cc
_SourceCode/10/inserters.cc
_SourceCode/10/iostream_iter.cc
_SourceCode/10/lambda.cc
_SourceCode/10/makefile
_SourceCode/10/newcount-size.cc
_SourceCode/10/ostreamIter2.cc
_SourceCode/10/outrunpgms
_SourceCode/10/rcomma.cc
_SourceCode/10/README
_SourceCode/10/rev-iters.cc
_SourceCode/10/reverse-iter.cc
_SourceCode/10/reverse.cc
_SourceCode/10/runpgms
_SourceCode/10/sortSI.cc
_SourceCode/10/use_find.cc
_SourceCode/10/use-istream-iter.cc
_SourceCode/10/data/absInt
_SourceCode/10/data/accum
_SourceCode/10/data/book_sales
_SourceCode/10/data/count-size
_SourceCode/10/data/iostream_iter
_SourceCode/10/data/outFile1
_SourceCode/10/data/outFile2
_SourceCode/10/data/rcomma
_SourceCode/10/data/readme
_SourceCode/10/data/reverse-iter
_SourceCode/10/data/use_find
_SourceCode/11/erasemap.cc
_SourceCode/11/makefile
_SourceCode/11/map1.cc
_SourceCode/11/multimap.cc
_SourceCode/11/pair.cc
_SourceCode/11/README
_SourceCode/11/restricted_count.cc
_SourceCode/11/runpgms
_SourceCode/11/setOps.cc
_SourceCode/11/unorderedWordCount.cc
_SourceCode/11/wcEx.cc
_SourceCode/11/word_count.cc
_SourceCode/11/word_transform.cc
_SourceCode/11/data/Alice
_SourceCode/11/data/rules
_SourceCode/11/data/simple_query
_SourceCode/11/data/storyDataFile
_SourceCode/11/data/text
_SourceCode/11/data/word_count
_SourceCode/12/allocPtr.cc
_SourceCode/12/allocSP.cc
_SourceCode/12/Foo.h
_SourceCode/12/makefile
_SourceCode/12/oknew.cc
_SourceCode/12/querymain.cc
_SourceCode/12/QueryResult.h
_SourceCode/12/README
_SourceCode/12/release.cc
_SourceCode/12/runpgms
_SourceCode/12/StrBlob.h
_SourceCode/12/TextQuery.cc
_SourceCode/12/TextQuery.h
_SourceCode/12/unique.cc
_SourceCode/12/UP.cc
_SourceCode/12/usealloc.cc
_SourceCode/12/usealloc2.cc
_SourceCode/12/useBlob.cc
_SourceCode/12/weak.cc
_SourceCode/12/data/Alice
_SourceCode/12/data/alloc
_SourceCode/12/data/storyDataFile
_SourceCode/13/copyNoMove.cc
_SourceCode/13/Folder.cc
_SourceCode/13/Folder.h
_SourceCode/13/FolderMain.cc
_SourceCode/13/HasPtrUseCount.cc
_SourceCode/13/HasPtrValueLike.cc
_SourceCode/13/makefile
_SourceCode/13/moveHP.cc
_SourceCode/13/README
_SourceCode/13/runpgms
_SourceCode/13/serial.cc
_SourceCode/13/small_SI.h
_SourceCode/13/StrFolder.cc
_SourceCode/13/StrFolder.h
_SourceCode/13/StrFolderMain.cc
_SourceCode/13/String.cc
_SourceCode/13/String.h
_SourceCode/13/StrVec.cc
_SourceCode/13/StrVec.h
_SourceCode/13/substr.cc
_SourceCode/13/useStrVec.cc
_SourceCode/13/data/storyDataFile
_SourceCode/14/absInt.cc
_SourceCode/14/add.cc
_SourceCode/14/calc.cc
_SourceCode/14/directcall.cc
_SourceCode/14/fcnobj.cc
_SourceCode/14/makefile
_SourceCode/14/newcount-size.cc
_SourceCode/14/README
_SourceCode/14/readStr.cc
_SourceCode/14/runpgms
_SourceCode/14/Sales_data.cc
_SourceCode/14/Sales_data.h
_SourceCode/14/data/absInt
_SourceCode/14/data/add_item
_SourceCode/14/data/count-size
_SourceCode/14/data/word_echo
_SourceCode/15/and_orQueryTest.cc
_SourceCode/15/andQueryTest.cc
_SourceCode/15/Basket_main.cc
_SourceCode/15/Basket.cc
_SourceCode/15/Basket.h
_SourceCode/15/get_print.cc
_SourceCode/15/makefile
_SourceCode/15/Query.cc
_SourceCode/15/Query.h
_SourceCode/15/Quote.cc
_SourceCode/15/Quote.h
_SourceCode/15/README
_SourceCode/15/runpgms
_SourceCode/15/sample.cc
_SourceCode/15/scope.cc
_SourceCode/15/useQuote.cc
_SourceCode/15/vecBasket.cc
_SourceCode/15/virtualsNscope.cc
_SourceCode/15/wordQueryTest.cc
_SourceCode/15/data/querymain
_SourceCode/15/data/storyDataFile
_SourceCode/15/data/three
_SourceCode/15/data/two
_SourceCode/16/array-parms4.cc
_SourceCode/16/Array.cc
_SourceCode/16/Blob.h
_SourceCode/16/build.cc
_SourceCode/16/compare.cc
_SourceCode/16/compare.h
_SourceCode/16/compareDef.cc
_SourceCode/16/compareSpec.cc
_SourceCode/16/debug_rep.h
_SourceCode/16/debug.cc
_SourceCode/16/DebugDelete.h
_SourceCode/16/expansion.cc
_SourceCode/16/flip.cc
_SourceCode/16/makefile
_SourceCode/16/multiset.cc
_SourceCode/16/overSpec.cc
_SourceCode/16/qm.cc
_SourceCode/16/README
_SourceCode/16/runpgms
_SourceCode/16/Sales_data.cc
_SourceCode/16/Sales_data.h
_SourceCode/16/SP.cc
_SourceCode/16/special.cc
_SourceCode/16/trail-ret.cc
_SourceCode/16/typealias.cc
_SourceCode/16/useBlob.cc
_SourceCode/16/useChcking.cc
_SourceCode/16/variadic.cc
_SourceCode/16/variadic3.cc
_SourceCode/16/Vec.h
_SourceCode/16/Vecmain.cc
_SourceCode/16/data/book_sales
_SourceCode/16/data/book_trans
_SourceCode/16/data/Vecmain
_SourceCode/17/badgetc.cc
_SourceCode/17/bits.cc
_SourceCode/17/ccpgms.cc
_SourceCode/17/findbook.cc
_SourceCode/17/game.cc
_SourceCode/17/getc.cc
_SourceCode/17/getput.cc
_SourceCode/17/makefile
_SourceCode/17/manips.cc
_SourceCode/17/manips11.cc
_SourceCode/17/no-skipws.cc
_SourceCode/17/normalInts.cc
_SourceCode/17/phones.cc
_SourceCode/17/phonesFinal.cc
_SourceCode/17/point.cc
_SourceCode/17/prec.cc
_SourceCode/17/rand1.cc
_SourceCode/17/rand2.cc
_SourceCode/17/rand4.cc
_SourceCode/17/rand6.cc
_SourceCode/17/README
_SourceCode/17/REerrs.cc
_SourceCode/17/regex1.cc
_SourceCode/17/runpgms
_SourceCode/17/sci_dec.cc
_SourceCode/17/seed.cc
_SourceCode/17/seek.cc
_SourceCode/17/setw.cc
_SourceCode/17/skipws.cc
_SourceCode/17/subexpr.cc
_SourceCode/17/tuple.cc
_SourceCode/17/validatePhones.cc
_SourceCode/17/zips.cc
_SourceCode/17/data/badgetc
_SourceCode/17/data/bits
_SourceCode/17/data/copyOut
_SourceCode/17/data/files
_SourceCode/17/data/findDups
_SourceCode/17/data/findDupsV2
_SourceCode/17/data/findgerunds
_SourceCode/17/data/game
_SourceCode/17/data/no-skipws
_SourceCode/17/data/phones
_SourceCode/17/data/phones2
_SourceCode/17/data/phonesFinal
_SourceCode/17/data/skipws
_SourceCode/17/data/store1
_SourceCode/17/data/store2
_SourceCode/17/data/store3
_SourceCode/17/data/store4
_SourceCode/17/data/validatePhones
_SourceCode/18/Animal_virtual_baseVers.h
_SourceCode/18/Animal.cc
_SourceCode/18/Animal.h
_SourceCode/18/book.cc
_SourceCode/18/bookexcept.h
_SourceCode/18/class.cc
_SourceCode/18/ex-over.cc
_SourceCode/18/inherit.cc
_SourceCode/18/makefile
_SourceCode/18/mi-scope.cc
_SourceCode/18/over.cc
_SourceCode/18/over2.cc
_SourceCode/18/README
_SourceCode/18/runpgms
_SourceCode/18/Sales_data.cc
_SourceCode/18/spec.cc
_SourceCode/18/usingDirective.cc
_SourceCode/18/virt-inherit.cc
_SourceCode/18/data/book_sales
_SourceCode/19/.useScreen.cc.swp
_SourceCode/19/bitfields.cc
_SourceCode/19/calc.cc
_SourceCode/19/dyn_cast.cc
_SourceCode/19/enum-match.cc
_SourceCode/19/enum.cc
_SourceCode/19/makefile
_SourceCode/19/memFN-bind.cc
_SourceCode/19/out2
_SourceCode/19/README
_SourceCode/19/runpgms
_SourceCode/19/Screen.cc
_SourceCode/19/Screen.h
_SourceCode/19/TextQuery.h
_SourceCode/19/tok2.cc
_SourceCode/19/Token.h
_SourceCode/19/typeid.cc
_SourceCode/19/useScreen.cc
_SourceCode/2/compounddecls.cc
_SourceCode/2/convs.cc
_SourceCode/2/dbl_ptr.cc
_SourceCode/2/decl-ex.cc
_SourceCode/2/escape.cc
_SourceCode/2/inits.cc
_SourceCode/2/literals.cc
_SourceCode/2/makefile
_SourceCode/2/README
_SourceCode/2/ref-ex.cc
_SourceCode/2/runpgms
_SourceCode/2/runpgms.bat
_SourceCode/2/Sales_data.cc
_SourceCode/2/Sales_data.h
_SourceCode/2/scope_levels.cc
_SourceCode/2/unsigned.cc
_SourceCode/2/data/add_item
_SourceCode/2/data/data/add_item
_SourceCode/3/add_using.cc
_SourceCode/3/arrayScores.cc
_SourceCode/3/cctype.cc
_SourceCode/3/char_repl.cc
_SourceCode/3/cstring_hdr.cc
_SourceCode/3/getline.cc
_SourceCode/3/hexify.cc
_SourceCode/3/makefile
_SourceCode/3/multidim.cc
_SourceCode/3/ptr_traversal2.cc
_SourceCode/3/README
_SourceCode/3/runpgms
_SourceCode/3/square.cc
_SourceCode/3/strcompare.cc
_SourceCode/3/string_add.cc
_SourceCode/3/string_io.cc
_SourceCode/3/string_io2.cc
_SourceCode/3/string_size.cc
_SourceCode/3/string_size2.cc
_SourceCode/3/string_size3.cc
_SourceCode/3/vec_decls.cc
_SourceCode/3/vecScores.cc
_SourceCode/3/vecStrings2.cc
_SourceCode/3/vecSubs.cc
_SourceCode/3/word_echo.cc
_SourceCode/3/data/add
_SourceCode/3/data/grades
_SourceCode/3/data/hexify
_SourceCode/3/data/iterarith
_SourceCode/3/data/ptr_traversal2
_SourceCode/3/data/string_io
_SourceCode/3/data/vecStrings2
_SourceCode/3/data/word_echo
_SourceCode/4/arith-ex.cc
_SourceCode/4/arraysizeof.cc
_SourceCode/4/cond.cc
_SourceCode/4/incr.cc
_SourceCode/4/int-div.cc
_SourceCode/4/makefile
_SourceCode/4/oofe.cc
_SourceCode/4/overflow.cc
_SourceCode/4/prec.cc
_SourceCode/4/README
_SourceCode/4/runpgms
_SourceCode/4/shift-prec.cc
_SourceCode/4/sizeof_pgm.cc
_SourceCode/4/unaryOps.cc
_SourceCode/4/vec_init.cc
_SourceCode/4/warn_dbltoint.cc
_SourceCode/4/data/oofe
_SourceCode/4/data/vecSubs
_SourceCode/5/add_item2.cc
_SourceCode/5/doWhile.cc
_SourceCode/5/guess.cc
_SourceCode/5/ifgrades.cc
_SourceCode/5/makefile
_SourceCode/5/othercnt.cc
_SourceCode/5/rangefor.cc
_SourceCode/5/README
_SourceCode/5/runpgms
_SourceCode/5/vowels.cc
_SourceCode/5/data/add_item_data
_SourceCode/5/data/doWhile
_SourceCode/5/data/grades
_SourceCode/5/data/guesses
_SourceCode/5/data/readme
_SourceCode/6/arrRet.cc
_SourceCode/6/count-calls.cc
_SourceCode/6/errMsg_initList.cc
_SourceCode/6/fact.cc
_SourceCode/6/fcnptrRet.cc
_SourceCode/6/good_printmain.cc
_SourceCode/6/inline_shorter.cc
_SourceCode/6/LocalMath.cc
_SourceCode/6/LocalMath.h
_SourceCode/6/mainmath.cc
_SourceCode/6/mainret.cc
_SourceCode/6/make_plural.h
_SourceCode/6/makefile
_SourceCode/6/mk_plural.cc
_SourceCode/6/printFcns.h
_SourceCode/6/README
_SourceCode/6/ref-fcn.cc
_SourceCode/6/refparms.cc
_SourceCode/6/refret-ex.cc
_SourceCode/6/reset.cc
_SourceCode/6/runpgms
_SourceCode/6/stl-arr-fcns.cc
_SourceCode/6/use_mk_plural.cc
_SourceCode/6/usefcnptr.cc
_SourceCode/6/wdebug.cc
_SourceCode/6/data/mainmath
_SourceCode/6/data/refparms
_SourceCode/7/Account.cc
_SourceCode/7/Account.h
_SourceCode/7/add_item.cc
_SourceCode/7/avg_price.cc
_SourceCode/7/Debug.cc
_SourceCode/7/Debug.h
_SourceCode/7/makefile
_SourceCode/7/README
_SourceCode/7/runpgms
_SourceCode/7/Sales_data.cc
_SourceCode/7/Sales_data.h
_SourceCode/7/Screen.h
_SourceCode/7/useAccount.cc
_SourceCode/7/useDebug.cc
_SourceCode/7/useScreen.cc
_SourceCode/7/WindowMgr.h
_SourceCode/7/data/add_item
_SourceCode/7/data/book_sales
_SourceCode/8/add_item.cc
_SourceCode/8/add_itemV2.cc
_SourceCode/8/buf.cc
_SourceCode/8/clearIO.cc
_SourceCode/8/fileIO.cc
_SourceCode/8/makefile
_SourceCode/8/README
_SourceCode/8/runpgms
_SourceCode/8/sstream.cc
_SourceCode/8/data/add_item
_SourceCode/8/data/sstream
_SourceCode/9/capacity.cc
_SourceCode/9/erase1.cc
_SourceCode/9/erase2.cc
_SourceCode/9/find_ops.cc
_SourceCode/9/find-str.cc
_SourceCode/9/makefile
_SourceCode/9/README
_SourceCode/9/refreshIter.cc
_SourceCode/9/runpgms
_SourceCode/9/stack.cc
_SourceCode/9/str_assignOps.cc
_SourceCode/9/substr.cc
_SourceCode/9/useConvs.cc
_SourceCode/9/data/erase
.vscode/c_cpp_properties.json
.vscode/settings.json
